g.chart {
  cursor: pointer;
}

text.legend-text {
  fill: var(--cito-colors-grayscale-80);
  font-family: var(--cito-font-family);
  font-size: var(--cito-font-size-md);
}

tspan.label {
  fill: var(--cito-colors-grayscale-white);
  font-family: var(--cito-font-family);
  font-size: var(--cito-font-size-md);
}

// Bar chart
.x-block > g > line{
  stroke: transparent;
}

.x-block-name {
  text-anchor: middle;
  font-size: var(--cito-font-size-xl);
  font-family: var(--cito-font-family-bold);
}

.x-block-points {
  text-anchor: middle;
  font-size: var(--cito-font-size-lg);
  fill: var(--cito-colors-grayscale-70);
}

path.domain {
  stroke: transparent;
}

.x-points > g {

}

.y-points {
  text-anchor: end;
  font-size: var(--cito-font-size-xl);
  font-family: var(--cito-font-family-bold);
}
.y-points > g > text {
  transform: translateX(-8px);
}

.y-points > g > line {
  stroke-dasharray: 8 4;
  stroke: var(--cito-colors-grayscale-30);
}

.bar-success {
  fill: var(--cito-colors-context-success-default);
}

.bar-warning {
  fill: var(--cito-colors-context-warning-default);
}

.target-line {
  stroke-width: 3px;
  stroke: var(--cito-colors-system-primary-default);
}
